
build*

Debug
Release

CMake*
!CMakeLists.txt

doc/html
doc/XML
doc/xml
doc/latex
doc/debug.txt

*.o
*.obj
*.so
*.dll
*.lib
*.a
*.mex*

*.exe

*.pyc

*.log

*.pdf
*.xml
*.out
*.orig

# Eclipse
.project
.cproject
.settings
.pydevproject

*~
