*
!.git*
!*.cpp
!*.txt

results*.txt
ref*.txt
output*.txt
refOutput*.txt
*log.txt

!controller
!integrator
!ocp
!ocp/robustification
!simulation_environment
!basic_data_structures
!basic_data_structures/curve
!basic_data_structures/function
!basic_data_structures/matrix_vector
!basic_data_structures/symbolics
!basic_data_structures/variables_grid
#!getting_started
!multi_objective
!parameter_estimation
!validated_integrator
!code_generation
!code_generation/simulation
!code_generation/mpc_mhe
!integration_algorithm
!nlp
!process
