*
!.git*
!*.m
*_RUN.m
*_OUT*

!code_generation
!code_generation/nmpc
!code_generation/nmpc/crane
!code_generation/simulation
!code_generation/simulation/pendulum_export/model.c
!code_generation/simulation/controller_quadcopter.mat
!integrator
!matlabarguments
!matlabarguments/*
!mexfiles
!ocp
!ocp/*
!parameterestimation
!parameterestimation/*
!simulationenv
!simulationenv/*
